.contato {
    background-color: #ffffff;
    padding: 1em;
}

.contato__titulo {
    font-size: 18px;
    font-weight: 500;
    color: var(--azul);
    margin: 1em 0;
}

.contato__texto {
    margin: 1.3em 0;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.contato__email {
    background-color: transparent;
    border: 1px solid #002F52;
    color: #002F52;
    border-radius: 24px;
    padding: 1em;
    width: 90%;
}

.contato__email::placeholder {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    padding-left: 3em;
    color: var(--azul);
    background: url("../img/Email.svg") no-repeat;
    background-position: 1em;
}