.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    padding: 1em;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 0.6em;
}

.container__imagem-ham {
    padding: 1em;
}